APP_URL=
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
PAYPAL_ENV=sandbox
PAYPAL_PLAN_ID_MONTHLY=
PAYPAL_PLAN_ID_YEARLY=
PAYPAL_WEBHOOK_ID=
SUPABASE_SERVICE_ROLE_KEY=
VITE_APP_ACCESS_ENABLED=
VITE_SUPABASE_ANON_KEY=
VITE_SUPABASE_URL=
